---
layout: landing_page
title: NYTimesLPDemo
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    {% include landing_page/hero.html %}
    {% include landing_page/spacer.html %}
    {% include landing_page/body.html %}
    {% include landing_page/spacer.html %}
    {% include landing_page/button.html %}
    {% include landing_page/spacer.html %}
    {% include landing_page/line_spacer.html %}
    {% include landing_page/spacer.html %}
    {% include landing_page/wheretowatch.html %}
    {% include landing_page/spacer.html %}
    {% include landing_page/spacer.html %}
  </body>
</html>
